[submodule "frontend"]
	path = frontend
	url = https://github.com/DriftOps/API-IV_Front-end
[submodule "backend"]
	path = backend
	url = https://github.com/DriftOps/API-IV_Back-end
[submodule "API-IV_Front-end"]
	path = API-IV_Front-end
	url = https://github.com/DriftOps/API-IV_Front-end
